* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* this is header section */
.header-section {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.header-section img {
    width: 490px;
}

.header-text {
    width: 470px;
}

.header-tittle {
    color: #272727;
    font-size: 60px;
    margin-bottom: 32px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    padding: 18px 38px;
    border-radius: 8px;
    background-color: #E55473;
    border: none;
}

/* featured flowers section */

.featured-flower-section {
    padding-top: 150px;
    margin-bottom: 120px;
    text-align: center;

}

.featured-flower-tittle {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 22px;
    text-align: center;
}

.featured-flower-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 17px;
    width: 590px;
    margin: 0 auto;
    line-height: 30px;

}

.featured-flower-container {
    margin-top: 48px;
    display: flex;
    justify-content: center;

    gap: 24px;
    padding-bottom: 30px;
}

.featured-flower-1,
.featured-flower-2,
.featured-flower-3 {
    border-radius: 300px 300px 0px 0px;
    position: relative;
}

.featured-flower-container .item img {
    width: 200px;
}

.featured-flower-container .image-no-1 {
    position: relative;
    bottom: -3px;
}

.featured-flower-container .image-no-3 {
    position: relative;
    bottom: -13px;
}

.featured-flower-1 {
    padding: 85px 67px 0px 64.8px;
    background: rgba(167, 33, 98, 0.15);
}

.featured-flower-2 {
    padding: 100px 67px 55px 67px;
    background-color: rgba(5, 151, 160, 0.15);
}

.featured-flower-3 {
    padding: 54px 68px 0px 68px;
    background: rgba(71, 125, 17, 0.15);
}

.featured-flowers-name {
    position: absolute;
    bottom: -30px;
    text-align: center;
    right: 0px;
    text-decoration: underline;
    width: 330px;
}

/* support section */
.support-section {
    width: 1000px;
    justify-content: space-around;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 6px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 150px;
    align-items: center;
    gap: 60px;
}

.support {
    padding: 85px 0px 85px 0px;
}

.support-tittle {
    color: rgba(39, 39, 39, 0.80);
    margin-top: 12px;
}

.support img {
    display: block;
    margin: 0 auto;
}

.deal-section {
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #e554730d;
    padding: 85px 50px 55px 100px;
    height: 370px;
}

/* deal section */
.deal-alltext {
    text-align: center;
    padding-top: 25px;
    padding-right: 50px;
}

.deal-tittle {
    color: #272727;
    font-size: 30px;
    font-weight: bold;
}

.text-primary {
    color: #E55473;
}

.deal-description {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.deal-img {
    width: 255px;
}

.instragram-section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.instragram-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 22px;
}

.instragram-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 17px;
    line-height: 30px;
    width: 590px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
}

.instragram-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.instragram-img img {
    width: 250px;
}

/* latest deals section */
.latest-deals {
    width: 1050px;
    text-align: center;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-image: url("./Flower\ Asset/Rectangle 9.png");
    margin-bottom: 30px;
    border-radius: 8px;
}

.latest-deals-tittle {
    color: #272727;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 40px;

}

.latest-deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 auto;
    margin-bottom: 38px;
}
.latest-deals input{
    width: 500px;
    height: 40px;
    margin-right: 50px;
    padding: 8px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    border-radius: 8px;
    border: none;
}
/* footer section */
.footer-section{
    background-color: #111010;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-title{
    font-size: 50px;
    margin-bottom: 22px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 580px;
    text-align: center;
    margin-bottom: 30px;
}
.all-rights-reserved{
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}